[Unit]
Description=moba environment daemon

[Service]
Type=simple
ExecStart=moba-environment
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=default.target
